{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row ">
        {{ form_start(form) }}
        {{ form_widget(form) }}


        <div class="offerProductTypes"
            data-index="{{ form.offerProductTypes|length > 0 ? form.offerProductTypes|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.offerProductTypes.vars.prototype)|e('html_attr') }}" >
            {% for offerProdTypes in form.offerProductTypes %}
               {{ form_row(offerProdTypes.maxItems) }}
               {# {{ form_row(offerProdTypes.price) }}
               {{ form_row(offerProdTypes.productType) }}#}
            {% endfor %}
        </div>
        <button type="button" class="add_item_link" data-collection-holder-class="offerProductTypes">Add offerProductType</button>
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div></div>
        {% endblock %}
        {% block javascripts %}
        <script src="assets/app.js">

        </script>
        {% endblock %}
