<div class="container">
    <div class="row ">
{{ form_start(form) }}
        {{ form_widget(form) }}

      {{ form_errors(form.offerProductTypes) }}
        <ul class="offer-product-types">
            {% for offerProductTypeForm in form.offerProductTypes %}
                <li>
                    {{ form_row(offerProductTypeForm.maxItems) }}
                    {{ form_row(offerProductTypeForm.price) }}
                    {# add fields for Offer and ProductType entities #}
                    {{ form_row(offerProductTypeForm._token) }}
                    {{ form_row(offerProductTypeForm.delete) }}
                </li>
            {% endfor %}
        </ul>
        <a href="#" class="add-offer-product-type">Add Product Type</a>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
        <script>
            // add-offer-product-type.js

            const offerProductTypesList = document.querySelector('.offer-product-types');
            const addButton = document.querySelector('.add-offer-product-type');

            addButton.addEventListener('click', (e) => {
                const prototype = offerProductTypesList.dataset.prototype;
                const index = offerProductTypesList.children.length;
                const newForm = prototype.replace(/__name__/g, index);
                const newDiv = document.createElement('div');
                newDiv.innerHTML = newForm;
                offerProductTypesList.appendChild(newDiv);
            });

            offerProductTypesList.addEventListener('click', (e) => {
                const deleteButton = e.target.closest('.delete');
                if (deleteButton) {
                    const offerProductTypeDiv = deleteButton.closest('div');
                    offerProductTypeDiv.remove();
                }
            });


            // get the

        </script>
</div></div>