{% extends 'seller/base_seller.html.twig' %}

{% block container  %}
    <div class="card ">
    <div class="card-header " >

    </div>
    <div class="card-body mb-5" style="margin-top: 150px">

    <div class="col-md-10 col-10 mx-auto col-lg-8 col-sm-12 col-xl-8 h-100 my-2 sticky-top mb-1" style="top: 100px; z-index: 4;">

    <div class="tour_details_right_sidebar_wrapper">
    <div class="tour_detail_right_sidebar">
    <div class="tour_details_right_boxed">
    <div class="tour_details_right_box_heading text-center my-2">
        <h3 class="purple-text">Place Your Order</h3>
    </div>


    {#                                        {{ form_start(form) }}#}

    <form method="POST" action="{{ path('app_seller_NewPanier') }}">
        {{ form_start(form) }}
        <table class="table mt-1">
            <thead>
            <tr class="table table-borderless">
                {#        <th>IdOffre</th>#}
                <th>OfferName</th>
                <th>Price</th>
                <th>Number Of days</th>
                <th>Start Date of your Offer</th>
            </tr>
            </thead>
            <tbody>

            {% for offer in panier %}

                <tr>
                    {#            <td>{{ offer.id }}</td>#}
                    <td class="fw-bold my-2">{{ offer.name }}</td>
                    {% set totalPrice = 0 %}
                    {% for offerProductType in offer.offerProductTypes %}

                        {% set totalPrice = totalPrice + offerProductType.price %}
                    {% endfor %}
                    <td class="fw-bold my-2">{{ totalPrice }} Dt</td>
                    <td class="fw-bold my-2">{{ offer.nbDays }} Days</td>
                    {#            <td>{{ form_widget(form['startDate_' ~ offer.id], {'attr': {'class': 'form-control'}}) }}</td>#}
                    <td style="width: 50px;">
                        {#{{ form_widget(form['startDate_' ~ offer.id], {
                'attr': {
                    'class': 'form-control datepicker',
                    'data-format': 'dd/mm/yyyy'
                }
            }) }}#}
                        {{ form_widget(form['startDate_' ~ offer.id], {
                            'widget': 'single_text',
                            'html5': true,
                            'attr': {
                                'type': 'datetime-local'

                            }
                        }) }}
                        {#
                        <input type="datetime-local" id="{{ form['startDate_' ~ offer.id].vars.id }}"
                               name="{{ form['startDate_' ~ offer.id].vars.full_name }}"
                               value="{{ form['startDate_' ~ offer.id].vars.value|date('Y-m-d\\TH:i:s') }}"
                               step="1">#}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <!--Ajouter le formulaire de payment en ligne-->
        <h3 class="my-2 text-secondary text-center fw-semibold">Fill your information</h3>
        <div class="container">
            <div class="row">
                {#            <h4 class="text-center my-2 "> <span><img src="{{ asset('assets/images/images Payme.png') }}"></span>Payez en ligne maintenant avec Paymee</h4>#}


            </div>
        </div>
        <div class="container ">
            <div class="row   ">
                <div class="col-6 my-2">
                    <input class="form-control rounded-pill border-2  borderColor" placeholder="first_name">
                </div>
                <div class="col-6 my-2">
                    <input class="form-control rounded-pill border-2  borderColor" placeholder="last_name">
                </div>
                <div class="col-6 my-2">
                    <input class="form-control rounded-pill border-2  borderColor" placeholder="Email">
                </div>
                <div class="col-6 my-2" >
                    <input class="form-control rounded-pill border-2  borderColor" placeholder="Phone">
                </div>
                <p class="purple-text ">You have a voucher ?</p>
                <div class="col-6 my-2" >
                    <input class="form-control rounded-pill border-2  borderColor" placeholder="Coupon">
                </div>
                <div class="my-2  text-center fw-semibold">
                    {% set total = 0.0 %}
                    {% for offer in panier %}
                        {% for offerProductType in offer.offerProductTypes %}
                            {% set total = total + offerProductType.price %}
                        {% endfor %}
                    {% endfor %}


                </div>
            </div>
        </div>
        <!--Ajouter le formulaire de payment en ligne-->

        <style>
            .purple-text {
                color: #7e42bb;
            }

            .purple-bg {
                background-color: #995ad7;
            }
            .borderColor {
                border: 1px solid #a663e7;
            }
        </style>
        <div class="d-flex justify-content-center">

            <button type="submit" class="btn purple-bg shadow-sm rounded-pill text-white my-2 w-25">Pay {{ total }} TND</button></div>
        {{ form_end(form) }}
    </form>

{% endblock %}