<header class="main_header_arae ">
    <!-- Top Bar -->
    <div class="topbar-area bg-secondary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="topbar-list">
                        <li>
                            <a href="#!"><i class="fab fa-facebook"></i></a>
                            <a href="#!"><i class="fab fa-twitter-square"></i></a>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                            <a href="#!"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li><a href="#!"><span>+011 234 567 895555</span></a></li>
                        <li><a href="#!"><span>contact@domain.com</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="topbar-others-options">
{#                        <li><a href="{{ path('app_login_seller') }}">Login</a></li>#}
{#                        <li> <a href="{{ path('app_register_Seller') }}">Sign up</a>#}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('app_seller_dashboard') }}">My Profile</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        <li><a href="{{ path('Get_Seller_Panier') }}"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4 p-1" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                </svg>Panier</a></li>
                            {% else %}
                            <li><a href="{{ path('app_login_seller') }}">Login</a></li>
                            <li><a href="{{ path('app_register_Seller') }}">Sign up</a></li>
                        {% endif %}

                        <li>
                            <div class="dropdown language-option">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu">
                                    <a class="dropdown-item" href="#">English</a>
                                    <a class="dropdown-item" href="#">Arabic</a>
                                    <a class="dropdown-item" href="#">French</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown language-option">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu">
                                    <a class="dropdown-item" href="#">USD</a>
                                    <a class="dropdown-item" href="#">BD</a>
                                    <a class="dropdown-item" href="#">URO</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar Bar -->
    <div class="navbar-area bg-secondary " >
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{{ asset('assets/images/logo.png') }}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{{ path('app_Home_seller') }}" class="nav-link">
                                    Home
                                    <i class="fas fa-angle-down"></i>
                                </a>

                            </li>


                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Flights
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="flight-search-result.html" class="nav-link">Flight</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="flight-booking-submission.html" class="nav-link">Flight Booking</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Hotel
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="hotel-search.html" class="nav-link">Hotel</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="hotel-details.html" class="nav-link">Hotel Booking</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="room-details.html" class="nav-link">Room Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="room-booking.html" class="nav-link">Room Booking</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Pages
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="tour-guides.html" class="nav-link">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">Testimonials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faqs.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="booking-confirmation.html" class="nav-link">Booking
                                            Confirmation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">News</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="news.html" class="nav-link">News</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="news-v2.html" class="nav-link">News v2</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="news-v3.html" class="nav-link">News v3</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="news-details.html" class="nav-link">News Details</a>
                                            </li>
                                        </ul>
                                    </li>
{#
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">User Pages</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="login.html" class="nav-link">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="register.html" class="nav-link">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="forgot-password.html" class="nav-link">Forget Password</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="verify-otp.html" class="nav-link">Verify OTP</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="reset-password.html" class="nav-link">Reset Password</a>
                                            </li>
                                        </ul>
                                    </li>
#}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link active">Customer Dashboard</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="dashboard.html" class="nav-link active">Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="hotel-booking.html" class="nav-link">Hotel booking</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="flight-booking.html" class="nav-link">Flight booking</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="tour-booking.html" class="nav-link">Tour booking</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="booking-history.html" class="nav-link ">Booking
                                                    history</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="my-profile.html" class="nav-link">My profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="wallet.html" class="nav-link">Wallet</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="notification.html" class="nav-link">Notifications</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="error.html" class="nav-link">404 Error</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">Contact</a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">
                                    <a href="{{ path('app_offer_seller') }}" class="nav-link">
                                        Offers
                                        <i class="fas fa-angle-down"></i>
                                    </a>

                                </li>
                                <li class="nav-item"><a href="{{ path('app_seller_dashboard') }}"  class="nav-link">My Profile</a></li>
                                <li class="nav-item"><a href="{{ path('Get_Seller_Panier') }}"  class="nav-link"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4 mx-1" viewBox="0 0 16 16">
                                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                        </svg>Panier</a></li>

                            {% endif %}
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="#" class="search-box">
                                    <i class="bi bi-search"></i></a>
                            </div>
                            <div class="option-item">
                                <a href="{{ path('app_market_subscription_request_new') }}"  class="btn  btn_navber">Become a vendor</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="#" class="search-box"><i class="fas fa-search"></i></a>
                            </div>
                            <div class="option-item">
                                <a href="contact.html" class="btn  btn_navber">Get free quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- search -->
<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
